PORT=3001

DB_HOST=localhost
DB_PORT=27017
DB_USER=admin
DB_PASS=sua_senha_aqui
DB_NAME=receitafederal

MONGO_URI=mongodb://admin:sua_senha_aqui@localhost:27017/receitafederal?authSource=admin

DATA_ROOT=./dados_cnpj
LOCAL_ZIPS_DIR=./zips_cnpj
